body{
    position: relative;
    height: 100%;
}
#map .header{

}
#map .main{
    position: absolute;
    top: 0;
    bottom: 120px;
    z-index: 1;
}
#map .main *{
    transition: 0.5s;
}
#map .main .search{
    margin: 20px 10%;
    width: 80%;
    height: 75px;
    display: flex;
    justify-content: flex-end;
    opacity: 0.7;
    transition: 0.5s;
    box-shadow:none
}
.search input{
    flex: 0;
    font-size: 24px;
    transition: 0.5s;
}
.search input.active{
    flex: 1;
}
.search button{
    width: 80px;
    height: inherit;
    font-size: 24px;
    background: #2fd6ab;
    color: white;
    background-image: url("../common/image/search.png");
    background-position: center;
}
.search button.for-drop{

    background: #67bcff;
}
#map #bai-du-map{
    top:0;
    bottom: 120px;
    min-height: 1200px;
}
#map .main .drop-down{
    margin: 20px 0;
    height: 150px;
    display: none;
    /*display: flex;*/
    justify-content: space-around;
    align-items: center;
    background: rgba(255, 255, 255, 0.7);
}
.drop-down .switch{
    width: 64px;
    height: 80px;
    text-align: center;
}
.drop-down .switch button{
    width: 64px;
    height: 64px;
    background-color: white;
    border-radius: 50%;
}
.drop-down .switch:first-child>button{
    background-image: url("img/s1.png");
}
.drop-down .switch:nth-child(2)>button{
    background-image: url("img/s2.png");
}
.drop-down .switch:nth-child(3)>button{
    background-image: url("img/s3.png");
}
.drop-down .switch:nth-child(4)>button{
    background-image: url("img/s4.png");
}
/* main-mask */
.main .mask{
min-height: 1000px;
}
.main .mask .flash{
    position: fixed;
}
/* main - result*/
.main .result-list{
    padding: 0 0;
    position: absolute;
    top: 115px;
    left: 10%;
    width: 80%;
    display: none;
}
.main .result-list .item {
    height: 105px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px #e0e0e0 solid;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    color: #a8a8a8;
}
.item   h3 {
    font-size: 36px;
    text-align: left;
    padding-left: 30px;
}

.item   h4 {
    font-size: 36px;
    text-align: right;
    padding-right: 30px;
    color: #7f7c7c;
}

